@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #282C33;
  --text-color: #D7D7D7;
  --accent-color: #FF00FF;
  --primary-color: #C778DD;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto-mono {
  font-family: var(--font-roboto-mono);
}

.font-fira-code {
  font-family: var(--font-fira-code);
}


body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
